<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.tsv'

In [2]:
file = open(DATA_FILE)
file_nested_list = csv.reader(file,delimiter='\t')

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [3]:
header = next(file_nested_list)
header

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [4]:
rows = []
for row in file_nested_list:
    rows.append(row)

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [5]:
import pandas as pd

df = pd.DataFrame(rows, columns=header)
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NULL,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
num_of_orders = len(df['order_id'].unique())
num_of_orders

1834

In [7]:
df['item_price_wo_sign'] = df['item_price'].str.replace('$','').replace(' ','')
df['quantity_price'] = df['quantity'].astype(int) * df['item_price_wo_sign'].astype(float)
df

/var/folders/7y/crhf92ms68jbrq452y_78lrw0000gn/T/ipykernel_3744/2227998732.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price_wo_sign'] = df['item_price'].str.replace('$','').replace(' ','')

,order_id,quantity,item_name,choice_description,item_price,item_price_wo_sign,quantity_price
0,1,1,Chips and Fresh Tomato Salsa,NULL,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NULL,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

In [8]:
avg_per_order = df['quantity_price'].sum()/num_of_orders
avg_per_order

#The average spending per order is $21.39

21.39423118865867

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [9]:
sodas_series = df[(df.item_name == 'Canned Soda') | (df.item_name == 'Canned Soft Drink')]['choice_description']
unique_sodas = list(sodas_series.unique())

unique_sodas

['[Sprite]',
 '[Dr. Pepper]',
 '[Mountain Dew]',
 '[Diet Dr. Pepper]',
 '[Coca Cola]',
 '[Diet Coke]',
 '[Coke]',
 '[Lemonade]',
 '[Nestea]']

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [10]:
burrito_toppings = df[df.item_name == 'Burrito']['choice_description']
burrito_toppings

510    [Adobo-Marinated and Grilled Chicken, Pinto Be...
511    [Braised Barbacoa, Vegetarian Black Beans, [So...
519    [Braised Barbacoa, Pinto Beans, [Sour Cream, S...
675    [Adobo-Marinated and Grilled Chicken, [Sour Cr...
759    [White Rice, Adobo-Marinated and Grilled Steak...
760    [White Rice, Adobo-Marinated and Grilled Steak...
Name: choice_description, dtype: object

In [11]:
topping_sum = 0

for burrito in burrito_toppings:
    topping_sum += len(burrito.split(','))
    
average_topping_per_burrito = topping_sum / len(burrito_toppings)
average_topping_per_burrito

# There are an avergae of 5.83 toppings per burrito

5.833333333333333

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [12]:
chip_orders = df[df['item_name'].str.contains('Chips')][['item_name','quantity']]

chip_orders['item_name'] = chip_orders['item_name'].str.replace('-',' ')

chip_orders['quantity'] = chip_orders['quantity'].astype(int)
chip_orders_qty_collat = chip_orders.groupby('item_name').sum()

chip_orders_qty_collat

                                       quantity
item_name
Chips                                       230
Chips and Fresh Tomato Salsa                130
Chips and Guacamole                         506
Chips and Mild Fresh Tomato Salsa             1
Chips and Roasted Chili Corn Salsa           41
Chips and Tomatillo Green Chili Salsa        78
Chips and Tomatillo Red Chili Salsa          75
Side of Chips                               110

In [13]:
from collections import defaultdict

def def_value():
    return "Not Present"

chip_qty_dict = defaultdict(def_value)

for index, rows in chip_orders_qty_collat.iterrows():
    chip_qty_dict[index] = rows['quantity']

chip_qty_dict

defaultdict(<function __main__.def_value()>,
            {'Chips': 230,
             'Chips and Fresh Tomato Salsa': 130,
             'Chips and Guacamole': 506,
             'Chips and Mild Fresh Tomato Salsa': 1,
             'Chips and Roasted Chili Corn Salsa': 41,
             'Chips and Tomatillo Green Chili Salsa': 78,
             'Chips and Tomatillo Red Chili Salsa': 75,
             'Side of Chips': 110})

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

### Bonus: Which products are popular, what other items are normally bought together with it?

In [14]:
# Aggregate items bought together in 1 transaction
items = df.groupby(['order_id']).agg({'item_name': lambda x: x.ravel().tolist()}).reset_index()

items.head()

  order_id                                          item_name
0        1  [Chips and Fresh Tomato Salsa, Izze, Nantucket...
1       10                [Chicken Bowl, Chips and Guacamole]
2      100                       [Steak Burrito, Canned Soda]
3     1000                      [Barbacoa Bowl, Chicken Bowl]
4     1001                       [Steak Burrito, Canned Soda]

In [15]:
# Extract all pairs of bought items in a single order

import itertools

combinations_list = []
for row in items.item_name:
    combinations = list(itertools.combinations(row, 2))
    combinations_list.append(combinations)

In [16]:
# Flatten the list
combination_list = pd.Series(combinations_list).explode().reset_index(drop=True)
combination_list.head()

0                 (Chips and Fresh Tomato Salsa, Izze)
1     (Chips and Fresh Tomato Salsa, Nantucket Nectar)
2    (Chips and Fresh Tomato Salsa, Chips and Tomat...
3                             (Izze, Nantucket Nectar)
4        (Izze, Chips and Tomatillo-Green Chili Salsa)
dtype: object

In [17]:
# Return the top pairs of items bought together
combination_list.value_counts().head(10)

# The top selling items seem to be Chicken Bowl and Chicken Burrito
# Excluding the top pairs where the items are the same. 
# Both Chicken Bowls and Burrito are commonly paired with 'Chips and Guacamole', or with each other or even with a Canned Soft Drink.

(Chicken Bowl, Chicken Bowl)              164
(Chicken Bowl, Chips and Guacamole)       154
(Chicken Bowl, Chips)                     128
(Chicken Bowl, Canned Soft Drink)         113
(Chicken Burrito, Chips and Guacamole)     99
(Chicken Bowl, Chicken Burrito)            80
(Chicken Burrito, Chicken Burrito)         78
(Chicken Burrito, Chicken Bowl)            75
(Chicken Burrito, Canned Soft Drink)       69
(Steak Burrito, Chips and Guacamole)       57
dtype: int64